*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.grigio{
    height: 100px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;

}
.verde{

    height: 100px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;

}
